# Set the default behavior, in case people don't have core.autocrlf set.

*.txt text=auto
*.php text=auto
*.zsh text=auto
*.out text=auto
*.md text=auto
.gitattributes text=auto
.gitignore text=auto



# Graphics are binary
*.png binary
*.xcf binary
*.psd binary
*.bmp binary

# binary protobuf files and archive are binary
*.bytes binary
*.zip binary
*.cpz binary

*.story.txt
*.ch_sht.txt
*.eq_sht.txt
*.mode.txt
*.pb.txt
*.ch_inst.txt
*.srt.txt
*.convo.txt
*.srm.txt
*.ab.txt
*.item.txt
